:root {
  --main-text-familly: 'Roboto', sans-serif;

  //   text color!!!

  --main-text-color: #ffffff;
  --secondary-text-color: #000000;
  --footer-text-color: #545454
  --akcent-text-color: #ff6b08;
  --warning-text-color: #ff001b;

  //   BCG COLOR

  --main-bcg-color: #ffffff;
  --footer-bcg-color: #F7F7F7;
  --akcent-bcg-color: #FF6B01;
}
::before,
::after {
	box-sizing: border-box;
}


.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    display: none;
}

// Modal hide
.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}