<header>
  <div class="header__container container">
    <nav class="nav">
      <a class="nav__logo" href="./index.html">
        <img
          class="nav__logo-img"
          src="./images/film.png"
          alt="this site logotype"
        />
        <span class="nav__logo-text">Filmoteka</span>
      </a>
      <ul class="nav__list list">
        <li class="nav__item">
          <button class="nav__btn-link btn" type="button">HOME</button>
        </li>
        <li class="nav__item">
          <button class="nav__btn-link btn" type="button">MY LIBRARY</button>
        </li>
      </ul>
    </nav>
    <form action="submit" class="form-search">
      <input
        class="form-search__input"
        type="text"
        name="searchQuery"
        autocomplete="off"
        placeholder="Movie search"
      />
      <button class="form-search__btn btn">
        <svg class="form-search__icon" width="12" height="12">
          <use href="./images/svg/defs.svg#search"></use>
        </svg>
      </button>
    </form>
    <p class="js-error-fetch hidden">
      Search result not successful. Enter the correct movie name and
    </p>
  </div>
</header>
